* {
	margin: 0;
	overflow: hidden;

}

body {
	/* transform: scale(1.1); */
	transform-origin: 0 0;
}


#video {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	justify-content: center;
	align-items: center;
	z-index: -1;
	width: 100%;
	object-fit: cover;
	height: 100%;
	background: rgba(0, 0, 0, 0.685);
	filter: opacity(90%);
	filter: blur(0.2px);
	filter: saturate(2);
}

.star-wars-logo {
	max-width: 30%;
	max-height: 10%;
	/* height: 200px;
	width: 400px; */
	padding: 0px 0px 0px 0px;
	pointer-events: none;
	z-index: 0;
}

@font-face {
	font-family: 'Starjedi';
	src: url('../Starjedi.ttf');
}

.weather-logo {
	top: 7%;
	color: #ffc300;
	font-size: 300%;
	font-family: 'Starjedi';
}

.logo-div {
	padding-top: 160px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-div>form>input {
	margin-top: 0.7%;
	outline: none;
	background: transparent;
	border: none;
	color: white;
	font-size: 140%;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	caret-color: transparent;
}

::placeholder {
	color: white;
	opacity: 80%;
}

@keyframes enter-button {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.1);
	}
}

.enter-button {
	margin-top: 5%;
	width: 50%;
	outline: none;
	background: #ffc300;
	border: none;
	border-radius: 20px;
	font-size: larger;
	font-weight: 700;
	color: white;
	transition: all 0.5s ease;
}

.logo-div>form>button:hover {
	background: #b18800;
	animation: enter-button .2s alternate ease-in 2;
}

.results-page {
	justify-content: center;
	align-items: center;
}

button#my-list-btn {
	/* color: white;
	font-family: 'Roboto Mono', monospace;	
	background: white;
	font-size: 100%;
	position: absolute;
	
	text-decoration: none;
	width: fit-content;
	border-style: none; */

	top: 4%;
	right: 3%;
	color: black;
	background: #fff;
	backface-visibility: hidden;
	border-radius: .375rem;
	border-style: solid;
	border-width: .125rem;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: Circular, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.3;
	padding: .2rem 0.8rem;
	position: absolute;
	text-align: left;
	text-decoration: none;
	transform: translateZ(0) scale(1);
	transition: transform .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button#my-list-btn:hover {
	color: rgb(219, 83, 83);
	text-decoration: none;
	cursor: pointer;
	background: white;
}

.button#my-list-btn:not(:disabled):hover {
    transform: scale(1.05);
}

.button#my-list-btn:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.button#my-list-btn:focus {
    outline: 0 solid transparent;
}

.button#my-list-btn:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button#my-list-btn:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button#my-list-btn:focus:not(:focus-visible):before {
    border-width: 0;
}

.button#my-list-btn:not(:disabled):active {
    transform: translateY(.125rem);
}