.planet-div {
	max-width: 100%;
	max-height: 100%;
}

.planet-image {
	object-fit: cover;
	position: absolute;
	justify-content: center;
	align-items: center;
	z-index: -1;
	max-width: 100%;
	min-height: 100%;
	filter: blur(1px);
	filter : saturate(1);
	opacity: 80%;
}

.specific-planet-name {
	font-family: 'Roboto', monospace;
	font-size: 300%;
	/* font-weight: 900; */
}

.top {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Roboto Mono', monospace;
	font-size: 90%;
	position: absolute;
	top: 4%;
	left: 3%;
	display: flex;
}

.home-btn {
	/* font-size: 100%;
	position: absolute;
	top: 4%;
	right: 3%;
	text-decoration: none;
	width: fit-content; */
	
	font-family: 'Roboto Mono', monospace;	
	color: white;
	font-size: 100%;
	position: absolute;
	top: 4%;
	right: 3%;
	text-decoration: none;
	width: fit-content;
	border-style: ridge;
	background-color: rgba(134, 134, 134, 0.5);
}

.return-home:link,.return-home:visited,.return-home:active { 
	color: rgb(219, 219, 219);
	text-decoration: none;
	background-color: rgba(39, 39, 39, 0.5);
	padding: 2px 2px;
 }

.return-home:hover { 
	color: rgb(219, 83, 83);
	text-decoration: none;
	cursor: pointer;
}

.fave-btn {
	/* font-size: 100%;
	position: absolute;
	top: 10%;
	right: 3%;
	text-decoration: none;
	width: fit-content; */

	font-family: 'Roboto Mono', monospace;	
	color: white;
	font-size: 100%;
	position: absolute;
	top: 10%;
	right: 3%;
	text-decoration: none;
	width: fit-content;
	border-style: ridge;
	background-color: rgba(134, 134, 134, 0.5);
}

.add-fave:link,.add-fave:visited,.add-fave:active { 
	color: rgb(219, 219, 219);
	text-decoration: none;
	background-color: rgba(39, 39, 39, 0.5);
	padding: 2px 2px;
 }


.add-fave:hover { 
	color: rgb(219, 83, 83);
	text-decoration: none;
	cursor: pointer;
}

.middle {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 0 auto;
	position: fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 140%;
	top: 35%;
	/* bottom: 30%; */
	left: 20%;
	right: 20%;
}

.middle-top {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-right: 20%;
	left: 10%;
	right: 20%;
}

.middle-bottom {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-left: 20%;
	left: 20%;
	right: 20%;
}

.bottom {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Roboto Mono', monospace;
	font-size: 90%;
	position: absolute;
	bottom: 4%;
	right: 3%;
}