/* body {
    background-image: url(alderaan.webp);
    background-color: #000000;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* height: 200px;
   } */ 

/* .error-page {
    background-color: black;
} */

.error-title {
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

/* .error-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
} */